QPushButton {
    background-color: green;
    border-style: inset;
    border-width: 5px;
    border-radius: 10px;
    border-color: teal;
    font: bold 14px;
    min-width: 10%;
    min-height: 10%;
    width: fit-content;
    padding: 10px;
    /* image : url(assets/button2.png); */ 
}

QPushButton:hover {
    background-color: rgba(0, 128, 0, 0.726);
    border-style: inset;
}

QPushButton:hover::pressed {
    background-color: rgba(0, 128, 0, 0.527);
    border-style: inset;
}

