QPushButton {
    background-color: red;
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
    border-color: brown;
    font: bold 14px;
    min-width: 10%;
    min-height: 10%;
    width: fit-content;
    padding: 10px;
}

QPushButton:hover {
    background-color: rgba(201, 10, 10, 0.788);
    border-style: inset;
}

QPushButton:hover::pressed {
    background-color: rgba(224, 0, 0, 0.377);
    border-style: inset;
}


