apiVersion: apps/v1
kind: Deployment
metadata:
  name: openmcp-loadbalancing-controller
  namespace: openmcp
spec:
  replicas: 1
  selector:
    matchLabels:
      name: openmcp-loadbalancing-controller
  template:
    metadata:
      labels:
        name: openmcp-loadbalancing-controller
    spec:
      serviceAccountName: openmcp-loadbalancing-controller
      imagePullSecrets:
        - name: openmcp-private-registry
      containers:
        - name: openmcp-loadbalancing-controller
          # Replace this with the built image name
          image: 10.0.3.40:5005/openmcp/openmcp-loadbalancing-controller:v0.0.1
          command:
          - openmcp-loadbalancing-controller
          imagePullPolicy: Always
          env:
            - name: TEST_IP
              value : "103.194.252.0"
            - name: LB
              value : "RV"
            - name: isAnalytic
              value : "yes"
            - name: GRPC_SERVER
              value: "10.0.3.40"
            - name: GRPC_PORT
              value: "32050"
            - name: WATCH_NAMESPACE
              #value: ""
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "loadbalancing-controller"
      tolerations:
        - key: node.kubernetes.io/not-ready
          effect: NoExecute
          tolerationSeconds: 0
        - key: node.kubernetes.io/unreachable
          effect: NoExecute
          tolerationSeconds: 0
