QLineEdit {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    max-height: 15%;
    padding: 10px;
}

QLineEdit:hover {
    background-color: white;
    border-style: solid;
}
